body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

html{
  background-image: linear-gradient(to right ,white,lightblue);
}

.flitz{
	font-family: 'Pacifico', cursive;
}

.flitz-dialouge{
	font-family: 'McLaren', cursive;
}